[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/era-contracts"]
	path = lib/era-contracts
	url = git@github.com:gravity-technologies/era-contracts.git
[submodule "lib/anvil-zksync"]
	path = lib/anvil-zksync
	url = git@github.com:matter-labs/anvil-zksync.git
